.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #c82333;
}
.text {
  display: flex;
  flex-direction: column;
}
